/*
0-600px - Phones
600 - 900px: Tables P
900 - 1200px: Tables L

(1200-1800) - Normal style

1800px+: Big Desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.header {
  font-family: 'Playfair Display', serif; }

.about__title {
  font-family: 'Kalam', cursive; }

@keyframes moveFromBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveFromLeft {
  0% {
    transform: translateX(-3rem);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveFromRight {
  0% {
    transform: translateX(3rem);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes slideUp {
  from {
    opacity: 0;
    bottom: -200px; }
  to {
    opacity: 1;
    bottom: 0; } }

.flex__page:hover {
  opacity: 1 !important; }

.flex__img, .flex__gif, .flex__img-wide, .flex__page {
  animation-name: moveFromBottom;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-delay: .75s;
  animation-fill-mode: backwards; }
  .flex__img:hover, .flex__gif:hover, .flex__img-wide:hover, .flex__page:hover {
    opacity: .8; }

.about {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .about {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .about__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        flex-direction: column;
        justify-content: center; } }
  .about__left--pic {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .about__left--pic {
        width: 70%;
        padding-left: 25%; } }
  @media only screen and (max-width: 56.25em) {
    .about__right {
      padding: 0 2rem; } }
  .about__title {
    font-size: 6rem; }
    @media only screen and (max-width: 46.25em) {
      .about__title {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .about__title {
        font-size: 2rem; } }
  .about__text {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1rem; }
    .about__text--email {
      text-decoration: none;
      color: #333;
      font-size: 2.2rem; }
  .about__contacts {
    display: inline-flex;
    list-style-type: none; }
    .about__contacts li {
      margin-right: 2.2rem;
      font-size: 3rem; }
      .about__contacts li i {
        transition: all .2s;
        color: #93748A; }
        .about__contacts li i:hover {
          transform: translateY(-0.4rem) scale(1.2);
          color: #333; }
  .about .inner {
    color: white; }
  .about:target {
    opacity: 1;
    visibility: visible; }
  .about:target .about__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .about__close:link, .about__close:visited {
    color: white;
    position: absolute;
    top: 3rem;
    left: 4rem;
    font-size: 4.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .about__close:hover {
    color: black;
    transform: scale(1.3); }

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
    .popup__content img {
      height: 90vh;
      width: auto;
      object-fit: contain; }
      @media only screen and (max-width: 75em) {
        .popup__content img {
          height: 80vh; } }
      @media only screen and (max-width: 56.25em) {
        .popup__content img {
          height: 70vh; } }
      @media only screen and (max-width: 46.25em) {
        .popup__content img {
          height: auto;
          width: 90vw; } }
    .popup__content--wide {
      height: 65vh !important; }
      @media only screen and (max-width: 75em) {
        .popup__content--wide {
          height: 50vh !important; } }
      @media only screen and (max-width: 56.25em) {
        .popup__content--wide {
          height: 45vh !important; } }
      @media only screen and (max-width: 46.25em) {
        .popup__content--wide {
          height: auto !important;
          width: 95vw !important; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: white;
    position: absolute;
    top: 3rem;
    left: 4rem;
    font-size: 4.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: black;
    transform: scale(1.3); }
  .popup__navi {
    flex-direction: column;
    text-align: center;
    width: 60%;
    padding: 3rem 0; }
    .popup__navi--link {
      font-size: 3rem;
      text-decoration: none; }
      .popup__navi--link:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.slideshow {
  position: relative;
  width: 40rem;
  height: 60rem;
  user-select: none; }
  @media only screen and (max-width: 75em) {
    .slideshow {
      height: 50rem;
      width: 30em; } }
  @media only screen and (max-width: 46.25em) {
    .slideshow {
      height: 64rem;
      width: 100%; } }
  .slideshow input {
    display: none; }
  .slideshow .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .slideshow .slide_img .prev, .slideshow .slide_img .next {
      width: 5rem;
      height: 5rem;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 90000;
      transition: .45s;
      cursor: pointer;
      text-align: center;
      opacity: .8; }
    .slideshow .slide_img .next {
      top: 1rem;
      left: 6rem;
      border-left: 0.1rem solid rgba(0, 0, 0, 0.1); }
    .slideshow .slide_img .prev {
      top: 1rem;
      left: 1rem; }
    .slideshow .slide_img .prev:hover, .slideshow .slide_img .next:hover {
      transition: .3s;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 1; }
    .slideshow .slide_img .prev i, .slideshow .slide_img .next i {
      font-size: 3.8rem;
      color: rgba(255, 255, 255, 0.4);
      margin: .8rem auto; }
    .slideshow .slide_img .prev i {
      border-color: transparent #fff transparent transparent; }
    .slideshow .slide_img .next i {
      border-color: transparent transparent transparent #fff; }
  .slideshow #nav_slide {
    width: 100%;
    bottom: 2%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default; }
    @media only screen and (max-width: 46.25em) {
      .slideshow #nav_slide {
        visibility: hidden; } }
    .slideshow #nav_slide .dots {
      top: -5px;
      width: 18px;
      height: 18px;
      margin: 0 3px;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.6);
      transition: .4s;
      cursor: pointer; }
    .slideshow #nav_slide #dot1:hover {
      background: #93748A; }
    .slideshow #nav_slide #dot2:hover {
      background: #F44336; }
    .slideshow #nav_slide #dot3:hover {
      background: #2196F3; }
    .slideshow #nav_slide #dot4:hover {
      background: #4CAF50; }
    .slideshow #nav_slide #dot5:hover {
      background: #93748A; }
    .slideshow #nav_slide #dot6:hover {
      background: #F44336; }
    .slideshow #nav_slide #dot7:hover {
      background: #2196F3; }
    .slideshow #nav_slide #dot8:hover {
      background: #4CAF50; }

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
  z-index: 9; }

#i1:checked ~ #nav_slide #dot1 {
  background: #93748A; }

#i2:checked ~ #nav_slide #dot2 {
  background: #F44336; }

#i3:checked ~ #nav_slide #dot3 {
  background: #2196F3; }

#i4:checked ~ #nav_slide #dot4 {
  background: #4CAF50; }

#i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven,
#i8:checked ~ #eight {
  z-index: 9; }

#i5:checked ~ #nav_slide #dot5 {
  background: #93748A; }

#i6:checked ~ #nav_slide #dot6 {
  background: #F44336; }

#i7:checked ~ #nav_slide #dot7 {
  background: #2196F3; }

#i8:checked ~ #nav_slide #dot8 {
  background: #4CAF50; }

.yt {
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  background: #2196F3;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24);
  transition: .4s;
  opacity: .4; }
  .yt a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    top: 4px; }

.yt:hover {
  transition: .3s;
  box-shadow: none;
  opacity: .8; }

.comic {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .comic {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .comic__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: inherit;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s;
    position: relative;
    flex-direction: column;
    width: max-content;
    height: 90vh;
    overflow-y: scroll; }
    .comic__content::-webkit-scrollbar {
      width: 1rem;
      height: 1rem; }
    .comic__content::-webkit-scrollbar-thumb {
      background: #93748A; }
    .comic__content::-webkit-scrollbar-track {
      background: #c9bac5; }
    .comic__content {
      scrollbar-face-color: #93748A;
      scrollbar-track-color: #c9bac5; }
    .comic__content img {
      height: inherit;
      width: auto;
      object-fit: contain; }
      .comic__content img:not(:last-child) {
        margin-bottom: 5rem; }
      @media only screen and (max-width: 46.25em) {
        .comic__content img {
          height: auto;
          width: 90vw; } }
  .comic:target {
    opacity: 1;
    visibility: visible; }
  .comic:target .comic__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .comic__close:link, .comic__close:visited {
    color: white;
    position: absolute;
    top: 3rem;
    left: 4rem;
    font-size: 4.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    z-index: 999; }
    @media only screen and (max-width: 46.25em) {
      .comic__close:link, .comic__close:visited {
        color: black;
        border-radius: 15px;
        padding: 0 1rem;
        top: 5rem;
        left: 3rem; } }
  .comic__close:hover {
    color: black;
    transform: scale(1.3); }

.header {
  margin: 0 auto;
  width: 62%;
  padding: 3rem 0 2rem 0;
  border-bottom: .2rem solid #777;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .header {
      width: 75%; } }
  @media only screen and (max-width: 46.25em) {
    .header {
      width: 80%; } }
  .header__title {
    display: inline-block;
    text-transform: uppercase; }
  .header__title--link {
    text-decoration: none;
    color: #000; }
  .header__menu {
    display: none; }
    @media only screen and (max-width: 46.25em) {
      .header__menu {
        display: block;
        width: auto;
        margin-top: 3.5rem;
        position: sticky;
        top: 0;
        text-decoration: none; }
        .header__menu i {
          font-size: 3.2rem; }
          .header__menu i:hover {
            color: #93748A;
            text-decoration: underline; } }

.primary-header {
  font-size: 3.5rem; }
  .primary-header-sub {
    font-size: 3.1rem;
    letter-spacing: .1rem;
    margin: -1rem 0 0 0;
    font-weight: 100; }

.header__nav {
  display: flex;
  font-size: 2.3rem;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 46.25em) {
    .header__nav {
      visibility: hidden;
      width: 0; } }
  .header__nav--link {
    color: #000;
    text-decoration: none; }
    .header__nav--link:not(:first-child) {
      padding-left: 2rem; }
    .header__nav--link:hover {
      color: #93748A;
      text-decoration: underline; }

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }
  @media only screen and (max-width: 46.25em) {
    .flex {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 46.25em) {
    .flex__sides {
      justify-content: space-between; } }
  .flex__img {
    height: 60rem;
    width: 40rem;
    padding: .8rem;
    object-fit: cover; }
    @media only screen and (max-width: 75em) {
      .flex__img {
        height: 50rem;
        width: 30em; } }
    @media only screen and (max-width: 46.25em) {
      .flex__img {
        height: auto;
        width: 100%; } }
    .flex__img-wide {
      height: 40rem;
      width: 60rem; }
      @media only screen and (max-width: 75em) {
        .flex__img-wide {
          height: 30rem;
          width: 45em; } }
      @media only screen and (max-width: 46.25em) {
        .flex__img-wide {
          height: auto;
          width: 100%; } }
    .flex__img--sq {
      object-fit: scale-down; }
  .flex__page {
    height: 60rem;
    width: 40rem;
    padding: .8rem;
    object-fit: cover; }
    @media only screen and (max-width: 75em) {
      .flex__page {
        height: 50rem;
        width: 30em; } }
    @media only screen and (max-width: 46.25em) {
      .flex__page {
        height: 65rem;
        width: 100%; } }

.footer {
  width: 62%;
  margin: 0 auto;
  border-top: 2px solid #777;
  margin-top: 4rem;
  height: 7rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 46.25em) {
    .footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%; } }
  .footer__left {
    margin-top: 1.5rem;
    font-size: 1.4rem; }
    @media only screen and (max-width: 46.25em) {
      .footer__left--text {
        padding-top: 1.5rem; } }
  .footer__right {
    margin-top: 1.5rem; }
    @media only screen and (max-width: 46.25em) {
      .footer__right {
        margin-bottom: 1.5rem; } }
    .footer__right--contacts {
      display: inline-flex;
      list-style-type: none;
      font-size: 2rem; }
      @media only screen and (max-width: 46.25em) {
        .footer__right--contacts {
          font-size: 2.8rem; } }
      .footer__right--contacts li:not(:first-child) {
        margin-left: 1.3rem; }
      @media only screen and (max-width: 46.25em) {
        .footer__right--contacts li:not(:first-child) {
          margin-left: 2rem; } }
      .footer__right--contacts li i {
        color: black;
        transition: all .3s; }
        .footer__right--contacts li i:hover {
          transform: translateY(-0.4rem) scale(1.2);
          color: #93748A; }
