$dark-gray: #333;

$twitter: #00acee;
$instagram: #3f729b;
$behance: #053eff;

$darkish-pink: #93748A;
$lighter-pink: #a68c9f;
$apricot: #FFCAB1;
$light-blue: #69A2B0;
$dark-green: #384D48;
$dark-blue: #222E50;


$big_width: 70%; 			//Slider width - large display
$big_height: 40%; 		//Slider height - large display
$big_nav_width: 12%;	// Previous and Next width - large display

$small_width: 100%; 	//Slider width - small display
$small_height: 55%; 	//Slider height - small display
$small_nav_width: 15%;// Previous and Next width - small display

$box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
$brown: #795548;
$blue: #2196F3;
$green: #4CAF50;
$magenta: #F44336;
$nav_color: rgba(black, .2);
$nav_hover_color: rgba(black, .8);
