.flex{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;


  &__img {
    height: 60rem;
    width: 40rem;
    padding: .8rem;
    object-fit: cover;

    &-wide{
      height: 40rem;
      width: 60rem;
      padding: .8rem;
      object-fit: cover;
    }

  }

  &__gif {
    height: 40rem;
    width: 60rem;
    padding: .8rem;
    align-self: center;
  }

}
