.flex{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  @include respond(phone){
    flex-direction: column;
    align-items: center;
  };

  &__img {
    height: 60rem;
    width: 40rem;
    padding: .8rem;
    object-fit: cover;

    @include respond(tab-land){
      height: 50rem;
      width: 30em;
    };
    @include respond(phone){
      height: auto;
      width: 60vh;
    };

    &-wide {
      height: 40rem;
      width: 60rem;
      @include respond(tab-land){
        height: 30rem;
        width: 45em;
      };
      @include respond(phone){
        height: auto;
        width: 60vh;
      };
    }

    &--sq{
      object-fit: scale-down;
    }
  }


  &__page {
    height: 60rem;
    width: 40rem;
    padding: .8rem;
    object-fit: cover;

    @include respond(tab-land){
      height: 50rem;
      width: 30em;
    };
    @include respond(phone){
      height: 82rem;
      width: 62rem;
    };
  }

}
