.header {
  margin: 0 auto;
  width: 62%;
  padding: 3rem 0 2rem 0;
  border-bottom: .2rem solid #777;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  @include respond(tab-port){
    width: 75%;
  };
  @include respond(phone){
    width: 80%;
  }

  &__title {
    display: inline-block;

  }

  &__title--link {
    text-decoration: none;
    color: #000;
  }
}

.primary-header {
  font-size: 5rem;

  &-sub {
    font-size: 4.4rem;
    letter-spacing: .55rem;
    margin: -2.5rem 0 0 0;
    font-weight: 100;
  }
}

.header__nav {
  display: flex;
  font-size: 2.6rem;
  margin-top: 5rem;
  @include respond(phone){
    visibility: hidden;
    width: 0;
  };

  &--link {
    color: #000;
    text-decoration: none;
    &:not(:first-child) {
      padding-left: 2rem;
    }


    &:hover {
      color: $darkish-pink;
      text-decoration: underline;
    }
  }
}
