*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}


.header {
  margin: 0 auto;
  width: 50%;
  padding: 3rem 0 2rem 0;
  border-bottom: 2px solid gray;
  font-family: 'Playfair Display', serif;
}

.header__title {
  display: inline-block;
  text-transform: uppercase;
}

.header__title--link {
  text-decoration: none;
  color: #000;
}

.primary-header {
  font-size: 3.5rem;

}
.primary-header-sub {
  font-size: 3.1rem;
  letter-spacing: .1rem;
  margin: -1rem 0 0 0;
  font-weight: 100;
}


.header__nav {
  display: inline;
  float: right;
  font-size: 2.3rem;
  margin-top: 3.5rem;
}
.header__nav--link {
  color: #000;
  text-decoration: none;
  padding-left: 2rem;
}
