@keyframes moveFromBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-3rem);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveFromRight {
  0% {
    transform: translateX(3rem);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}
